<!--<div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect username or password
</div>-->
<form #loginForm="ngForm" class="col s12 white" autocomplete="off">
   <div class="row">
     <div class="input-field col s12">
       <i class="material-icons prefix">account_circle</i>
       <input name="nickUsu" class="validate" type="text" required #nickUsu="ngModel" 
       [(ngModel)]="usuario.nickUsu" maxlength="100">
       <label data-error="Required field!"> Nombre de Usuario</label>
       <div class="validation-error"  *ngIf="nickUsu.invalid && nickUsu.touched">Este campo es obligatorio.</div>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input name="pwdUsu" class="validate" type="password" required #pwdUsu="ngModel" maxlength="100"
            [(ngModel)]="usuario.pwdUsu">
            <label data-error="Required field!">Contraseña</label>
            <div class="validation-error"  *ngIf="pwdUsu.invalid && pwdUsu.touched">Este campo es obligatorio.</div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s7">
        <button class="btn-large btn-submit"  (click)="catalogo()" type="submit" >Volver al catálogo</button>
      </div>  
      <div class="input-field col s5">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit" (click)="OnSubmit()">
            Ingresar</button>
        </div>
      </div>
</form>