
    <div style="float:left;width: 70%;height:360px;border: 3px solid black;
    margin:1%;text-align: center;" >
  
      <div style="width:50%;height:100%;float: left;">
        <p></p>
        <img [src]="getImagen(service.formData.codPro)" style="width:90%;height:80%;" />
      </div>
      <div>
        <p></p>
        <p></p>
        <p align="left">NOMBRE : {{service.formData.descripcionPro}}</p>
        <p align="left">DETALLE : {{producto.detallePro}}</p>
        <p align="left">PRECIO : {{service.formData.precioPro}}</p>
        <p align="left">STOCK : {{producto.stockPro}}</p>
        <p align="left">CATEGORIA : {{getCategoria(producto.codProdCat)}}</p>
        <p align="left">MARCA : {{getMarca(producto.codProdMar)}}</p>
        <div align="left" >
            <label>CANTIDAD : .</label>
            <input style="border: 1px solid black;border-radius: 10px ; width: 80px">
        </div>
      </div> 
      <div style="text-align: center">
          <button type="submit" class="btn btn-lg " style="color: black" style="color: black; width: 30%; text-align: center">Agregar</button>
      </div>
    </div>
  
