<table style="margin-left: -10%" class="highlight" >
    <tr style="cursor: text;background-color: darkgray;" >
        <td style="text-align:center;">Imagen</td>
        <td style="text-align:center;">Ítem</td>
        <td style="text-align:center;">Código</td>
        <td style="text-align:center;">Descripción</td>
        <td style="text-align:center;">Detalle</td>
        <td style="text-align:center;">Precio</td>
        <td style="text-align:center;">Categoria</td>
        <td style="text-align:center;">Marca</td>
        <td style="text-align:center;">Cantidad</td>
    </tr>

    <tr style="cursor: text;" >

    </tr>
  </table>
