<table style="margin-left: -30%" class="highlight" >
  <tr style="cursor: text;background-color: darkgray;" >
      <td style="text-align:center;">Número</td> 
      <td style="text-align:center;">Usuario</td>
      <td style="text-align:center;">Fecha</td>
      <!--<td style="text-align:center;">Número de tarjeta</td>-->
      <td style="text-align:center;">Monto total</td>
      <!--<td style="text-align:center;">Estado</td>-->
      <td style="text-align:center;">Detalle</td>
  </tr>

  <tr style="cursor: text;" *ngFor="let pedido of pedidosUsuario">
    <td style="text-align:center;" *ngIf="pedido.codEstBol==1">{{pedido.codBol}}</td>
    <td style="text-align:center;" *ngIf="pedido.codEstBol==1">{{getUsuario(pedido.codUsu)}}</td>
    <td style="text-align:center;" *ngIf="pedido.codEstBol==1">{{pedido.fechaBol.substring(0,10)}}</td>
    <!--<td style="text-align:center;">{{pedido.numTarjeta}}</td>-->
    <td style="text-align:center;" *ngIf="pedido.codEstBol==1">S/. {{pedido.precioTotal|number}}</td>
    <!--<td style="text-align:center;">{{pedido.codEstBol}}</td>-->
    <td style="text-align:center;" *ngIf="pedido.codEstBol==1"><button (click)="onVerDetalle(pedido.codBol)" class="btn btn-sm btn-outline-danger">Ver</button></td>
  </tr>
</table>