<table style="margin-left: -30%" class="highlight" >
  <tr style="cursor: text;background-color: darkgray;" >
      <td style="text-align:center;">Número de pedido</td> 
      <td style="text-align:center;">Usuario</td>
      <td style="text-align:center;">Fecha</td>
      <!--<td style="text-align:center;">Número de tarjeta</td>-->
      <td style="text-align:center;">Monto total</td>
      <td style="text-align:center;">Estado</td>
  </tr>

 <!-- <tr style="cursor: text;" *ngFor="let pedido of service.list">
    <td style="text-align:center;">{{pedido.codBol}}</td>
    <td style="text-align:center;">{{pedido.codUsu}}</td>
    <td style="text-align:center;">{{pedido.fechaBol}}</td>
    <td style="text-align:center;">{{pedido.numTarjeta}}</td>
    <td style="text-align:center;">{{pedido.precioTotal}}</td>
    <td style="text-align:center;">{{pedido.codEstBol}}</td>
  </tr>-->
</table>