<!--<input name="controlMantenimiento" type="hidden" #controlMantenimiento [value]="controlarMantenimiento()">
-->
<form #form="ngForm" class="col s12 white" autocomplete="off">
<nav>
        <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                        <a  [routerLink]="['/home']" class="nav-link" >Home</a>
                      </li>  
                <li class="nav-item">
                        <a  [routerLink]="['/carrito']" class="nav-link" >Carrito de compras</a>
                  </li> 
                  <li class="nav-item" >
                      <a  [routerLink]="['/pedidos']" class="nav-link">Pedidos</a>
                </li> 
            <li class="nav-item">
                <a   (click)="onLogin()" class="nav-link" >Ingresar</a>
              </li> 
              <li class="nav-item">
                <a  (click)="onSalir()" class="nav-link">Salir</a>
              </li> 
                 <div *ngIf="us.formData.codUsu==1">
              <li class="nav-item"  >
                <a  [routerLink]="['/productos']" class="nav-link">Productos</a>
              </li> 
              <li class="nav-item" >
                  <a  [routerLink]="['/usuarios']" class="nav-link">Usuarios</a>
            </li> 
            </div>
            <p class="nav-item" *ngIf="us.formData.codUsu!=null">
              <span style="float: right; margin-right: 1%;">{{us.formData.nomUsu}} {{us.formData.apePatUsu}} {{us.formData.apeMatUsu}}
                </span>
            </p> 
      </ul>

  </nav>

  <div class="container">

    <div class="container mainContainer">
            <router-outlet></router-outlet>
        </div>
</div>
</form>
