<table class="table table-hover">

  <tr>
    <td>Codigo</td>
    <td>Nombre</td>
    <td>A. Paterno</td>
    <td>A. Materno</td>
    <td>DNI</td>
    <td>Celular</td>
    <td>Nickname</td>
    <td>Contraseña</td>
    <td>Fecha Registro</td>
    <td>Tipo de Usuario</td>
    <td>Email</td>
  </tr>

  <tr *ngFor="let empleado of service.list">
    <td (click)="populateForm(empleado)">{{empleado.codUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.nomUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.apePatUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.apeMatUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.dniUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.celUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.nickUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.pwdUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.fechaRegistroUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.codTipoUsu}}</td>
    <td (click)="populateForm(empleado)">{{empleado.mailUsu}}</td>

    <td><button (click)="onDelete(empleado)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>