<table class="highlight">
    <tr style="cursor: text;background-color: darkgray;" >
        <td style="text-align:center;">Codigo</td> 
        <td style="text-align:center;">Nombre</td>
        <td style="text-align:center;">Apellido Paterno</td>
        <td style="text-align:center;">Apellido Materno</td>
        <td style="text-align:center;">DNI</td>
        <td style="text-align:center;">Celular</td>
        <td style="text-align:center;">NickName</td>  
        <td style="text-align:center;">Password</td>    
        <td style="text-align:center;">Fecha de Registro</td>
        <td style="text-align:center;">Email</td>  
        <td style="text-align:center;">Eliminar</td>  
        <td style="text-align:center;">ajksfbjahbfahbfhasfsah</td>    
    </tr>


</table>

